/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: "Montserrat", Arial;
}

.img-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HEADER */
.header-top {
    height: 120px;
}

.logo img {
    width: auto;
    height: 70px;
}

/* Menu */
nav {
    margin-top: 40px;
}

.menu {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #a9a9a9;
    font-weight: bold;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    padding-right: 10px;
}

/* Banner */
.banner {
    height: 500px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-text {
    position: absolute;
    bottom: 60px;
    left: 50px;
    width: 50%;
    color: white;
}

.banner-text h2 {
    font-size: 30px;
}

/* Structure */
.col {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN */
main {
    margin: 20px 0;
    padding-bottom: 5px;
}

.title {
    margin: 30px 0;
}

.title h1 {
    font-size: 40px;
}

.title p {
    color: #a9a9a9;
}

.col-left, .col-right {
    width: 23%;
    height: 600px;
}

.col-center {
    width: 50%;
    margin: 0 2%;
    height: 600px;
}

.content {
    margin: 20px 0;
}

.col-img {
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}


/* FOOTER */
footer {
    height: 50px;
    background-color: purple;
}